:host {
  display: block;
}

.error-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .error-message {
    font-size: 80px;
    line-height: 1.5;
  }
}
