<mat-card class="history-container" *ngFor="let group of historyFormArray.controls; let i = index">
  <form class="history-form grid-container" [formGroup]="group">
    <mat-form-field class="history-company" appearance="fill">
      <mat-label>Company</mat-label>
      <input formControlName="company" name="company" matInput required>
      <mat-error>Required</mat-error>
    </mat-form-field>

    <button class="history-delete"
            (click)="onDeleteClick(i); $event.preventDefault()"
            mat-icon-button
            color="warn"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <mat-form-field class="history-role" appearance="fill">
      <mat-label>Role</mat-label>
      <input formControlName="role" name="role" matInput required>
      <mat-error>Required</mat-error>
    </mat-form-field>

    <ng-container formGroupName="period">
      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input formControlName="from"
               name="startDate"
               [matDatepicker]="startDateDP"
               [matDatepickerFilter]="futureDatesFilter"
               [max]="today"
               matInput
               required
        >
        <mat-datepicker #startDateDP></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
        <mat-error>{{ getErrorForDatepickerByFormControl( group.get('period.from') ) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input formControlName="to"
               name="endDate"
               [matDatepicker]="endDateDP"
               [matDatepickerFilter]="futureDatesFilter"
               [max]="today"
               matInput
        >
        <mat-datepicker #endDateDP></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
        <mat-error>{{ getErrorForDatepickerByFormControl( group.get('period.to') ) }}</mat-error>
      </mat-form-field>
    </ng-container>

    <mat-form-field class="history-summary" appearance="fill">
      <mat-label>Summary</mat-label>
      <textarea formControlName="summary" name="summary" matInput required></textarea>
      <mat-error *ngIf="group.get('summary').hasError('required')">Required</mat-error>
      <mat-error *ngIf="group.get('summary').hasError('minlength')">Too short</mat-error>
      <mat-error *ngIf="group.get('summary').hasError('maxlength')">Too long</mat-error>
    </mat-form-field>
  </form>

  <h3>Technologies</h3>
  <app-technologies [technologies]="historyItems ? historyItems[i]?.technologies : null"></app-technologies>
</mat-card>

<section class="history-add">
  <button
    (click)="onAddClick()"
    [disabled]="!addHistoryItemEnabled"
    mat-raised-button
    color="primary"
  >Add history item</button>
</section>
