:host {
  display: block;
}

.history-container {
  margin-bottom: 16px;
}

.history-form {
  .history-company {
    grid-column: span 11;
  }

  .history-delete {
    grid-column: span 1;
  }

  .history-role {
    grid-column: span 12;
  }

  .history-summary {
    grid-column: span 12;
  }
}

.history-add {
  text-align: center;
}
