<form class="general-info-form grid-container" [formGroup]="generalInfoForm">
  <mat-form-field class="full-name" appearance="fill">
    <mat-label>Full Name</mat-label>
    <input formControlName="name" name="fullName" matInput required>
    <mat-error>Required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input formControlName="email" name="email" matInput required>
    <mat-error *ngIf="emailControl.hasError('required')">Required</mat-error>
    <mat-error *ngIf="emailControl.hasError('email')">Not valid</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input formControlName="phone" name="phone" matInput required>
    <mat-error *ngIf="phoneControl.hasError('required')">Required</mat-error>
    <mat-error *ngIf="phoneControl.hasError('onlyDigits')">Not valid</mat-error>
  </mat-form-field>
</form>
