
<div class="editor-container">
  <ng-container *ngFor="let cvEntity of [cvEntity$ | async]">
    <section class="general-info">
      <h2>General Info</h2>
      <mat-card>
        <app-general-info [generalInfo]="cvEntity?.generalInfo"></app-general-info>
      </mat-card>
    </section>

    <section>
      <h2>Employment History</h2>
      <app-history [historyItems]="cvEntity?.history"></app-history>
    </section>
  </ng-container>

  <div class="save-container">
    <button class="save-button"
            (click)="onSaveClick()"
            [disabled]="!valid"
            mat-raised-button
            color="accent"
    >Save</button>
  </div>
  <br>
</div>
