:host {
  display: block;

  ::ng-deep {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
      grid-gap: 12px 16px;

      mat-form-field {
        grid-column: span 12;
      }

      @media (min-width: 769px) {
        grid-gap: 16px 24px;

        mat-form-field {
          grid-column: span 6;
        }
      }
    }
  }
}

.editor-container {
  padding: 80px 24px 24px;
  margin: 0 auto;
  max-width: 480px;

  h2 {
    margin-bottom: 10px;
  }

  .general-info {
    margin-bottom: 32px;
  }

  .save-container {
    text-align: right;
  }
}
