:host {
  display: block;
}

.technologies-form {
  .technologies-name {
    grid-column: span 6;
  }

  .technologies-version {
    grid-column: span 5;
  }

  mat-icon {
    grid-column: span 1;
  }
}
