<form class="technologies-form grid-container"
      *ngFor="let group of technologiesFormArray.controls; let i = index"
      [formGroup]="group"
>
  <mat-form-field class="technologies-name" appearance="fill">
    <mat-label>Name</mat-label>
    <input formControlName="name" name="name" matInput required>
    <mat-error>Required</mat-error>
  </mat-form-field>

  <mat-form-field class="technologies-version" appearance="fill">
    <mat-label>Version</mat-label>
    <input formControlName="version" name="version" matInput>
  </mat-form-field>

  <button (click)="$event.preventDefault(); onDeleteClick(i)"
          mat-icon-button
          color="warn"
  >
    <mat-icon>delete</mat-icon>
  </button>
</form>

<button class="add-button"
        (click)="onAddClick()"
        [disabled]="!addTechnologyEnabled"
        mat-button
        color="primary"
>Add technology</button>
